In [8]:
import Data_Quality as DQ
import pandas as pd

encoding = 'iso-8859-1'

# Start data quality rules 
dataWork = DQ.Rules('people.csv', 
                    ';', 
                    False) # False for retrieve bad registers only

In [9]:
# File to be analyzed
pd.read_csv('people.csv',
            delimiter = ';',
            encoding = encoding).head()

      name                 job sex  age  salary    project               email
0     Inés     Front Developer   F   22   72000  Project B  Maritza@domain.com
1     Toño  Software Developer   M   23   72000  Project A     Deividomain.com
2  Carmiña  Software Developer   M   24   72000  Project B  Manuela@domain.com
3   Antony  Software Developer   M   30   72000  Project A   Antony@domain.com
4   Martha     Front Developer   F   23   74000  Project A   Martha@domain.com

In [10]:
# Reference List
pd.read_csv('jobs.csv')

                  job
0     Front Developer
1  Software Developer
2       Data Engineer
3             Manager

In [11]:
# Checking for registers not in reference list 
print(dataWork.checkListReference('jobs.csv', 'job')[['name','job']])

     name     job
18  David     NaN
22    Ana  Intern
29  Johan  Intern

In [12]:
# Checking for bad registers, returning emails with wrong structure 
print(dataWork.checkEmail('email')[['name','email']])

         name               email
1        Toño     Deividomain.com
13        Ana     Ana@@domain.com
20     Andrew  Andrew@domain..com
23     Andrea                   A
11      Lucia                 NaN
25     Manolo                 NaN
79   Anabelle                 NaN
155     Peter                 NaN

In [13]:
# Checking registers for null values in project column
print(dataWork.checkNull('project')[['name','project']])

           name project
75       Justin     NaN
86       Stella     NaN
157  Margarette     NaN

In [14]:
# checking repeated emails more than 7 times
print(dataWork.checkUnity('email', 7)[['name','email']])

           name                  email
37        Maria       Maria@domain.com
59        Maria       Maria@domain.com
66   Margarette  Margarette@domain.com
74        Maria       Maria@domain.com
85        Maria       Maria@domain.com
105       Maria       Maria@domain.com
106       Maria       Maria@domain.com
107       Maria       Maria@domain.com
109  Margarette  Margarette@domain.com
112       Maria       Maria@domain.com
116  Margarette  Margarette@domain.com
117  Margarette  Margarette@domain.com
118  Margarette  Margarette@domain.com
125  Margarette  Margarette@domain.com
140  Margarette  Margarette@domain.com
157  Margarette  Margarette@domain.com