# Using DataQuality Library
This demo shows the way to use the dataQuality library.

In [1]:
# Reading file using Pandas
import pandas as pd

encoding = 'iso-8859-1'

# File to be analyzed
people = pd.read_csv('people.csv',
            delimiter = ';',
            encoding = encoding)
people.head()

      name                 job sex age salary    project               email
0     Inés     Front Developer   F  35  72000  Project B  Maritza@domain.com
1     Toño  Software Developer   M  33  72000  Project A     Deividomain.com
2  Carmiña  Software Developer   M  27  72000  Project B  Manuela@domain.com
3   Antony  Software Developer   M  24  72000  Project A   Antony@domain.com
4   Martha     Front Developer   F  30  74000  Project A   Martha@domain.com

In [2]:
# Info about people file
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 7 columns):
name       168 non-null object
job        167 non-null object
sex        168 non-null object
age        167 non-null object
salary     168 non-null object
project    165 non-null object
email      164 non-null object
dtypes: object(7)
memory usage: 9.3+ KB

# Importing library
Data quality library receives three parameters:
1. File to be analized
2. delimiter
3. a boolean identifier to retrieving records that do not comply with the rule (False) or records that do comply with the rule (True).

For this demo we are going to check for bad records.

In [3]:
import Data_Quality as DQ

# Start data quality rules 
dataWork = DQ.Rules('people.csv', 
                    ';', 
                    False) # False for retrieving bad registers only

# Rule for checking specific words
This rules checks for specific words on records on certain column. In this case the rule returns all records with not "developer" word.

In [4]:
print(dataWork.checkContains('job', 'developer'))

     index        name                 job sex      age  salary    project  \
0        0        Inés     Front Developer   F       35   72000  Project B
1        1        Toño  Software Developer   M       33   72000  Project A
2        2     Carmiña  Software Developer   M       27   72000  Project B
3        3      Antony  Software Developer   M       24   72000  Project A
4        4      Martha     Front Developer   F       30   74000  Project A
5        5       Deivi  Software Developer   M       24   74000  Project B
6        6       Deivi  Software Developer   M       40   74000  Project A
7        7     Marisol     Front Developer   F       22   74000  Project A
8        8      Martha     Front Developer   F       32   75000  Project A
9        9      Antony  Software Developer   M       21   77000  Project A
10      10      Antony  Software Developer   M       40   77000  Project A
11      11       Lucia  Software Developer   F       32   77000  Project A
12      12     Melanye  Software Developer   F       28   77000  Project B
13      13         Ana  Software Developer   F       20   77000  Project A
14      14         Ana  Software Developer   F       29   77000  Project A
15      15     Ant0nio  Software Developer   M       21   77000  Project A
16      16       Johan  Software Developer   M       40   77000  Project A
17      17       Johan  Software Developer   M       38   77000  Project B
18      18       David                 NaN   M       26   79000  Project A
19      19       J3nny  Software Developer   F       33   80000  Project A
20      20      Andrew     Front Developer   M       25   80000  Project B
21      21      Justin       Data Engineer   M       21   80000  Project A
22      22         Ana              Intern   F       28   80000  Project A
23      23      Andrea     Front Developer   F       24   80000  Project C
24      24    Angelica     Front Developer   F       32   80000  Project A
25      25      Manolo       Data Engineer   M       25   80000  Project A
26      26        Bart  Software Developer   M       40   80000  Project A
27      27        Bert  Software Developer   M       21   80000  Project A
28      28     Belinda  Software Developer   F       40   80000  Project A
29      29       Johan              Intern   M       27   80000  Project A
..     ...         ...                 ...  ..      ...     ...        ...
305    138     Arnaldo       Data Engineer   M       28   90000  Project B
306    139     Esteban       Data Engineer   M       32   92000  Project B
307    140  Margarette       Data Engineer   F       36   93000  Project B
308    141      Nelson  Software Developer   M       25   93000  Project B
309    142         Bob  Software Developer   M       39   95000  Project B
310    143         Bob  Software Developer   M       23   95000  Project B
311    144         Bob  Software Developer   M       32   95000  Project B
312    145      Nestor  Software Developer   M       25   95000  Project B
313    146      Ne/son  Software Developer   M       20   95000  Project B
314    147      Justin       Data Engineer   M       28   95000  Project B
315    148       Johan  Software Developer   M      NaN   97a00  Project B
316    149     Esteban  Software Developer   M       29   97000  Project B
317    150       Johan  Software Developer   M       38   97000  Project B
318    151      Angela     Front Developer   F       28   98000  Project B
319    152         Ned       Data Engineer   M       40  100000  Project B
320    153       Jenny       Data Engineer   F       20  102000  Project B
321    154     Joaquin       Data Engineer   M       37  1020o0  Project B
322    155       Peter       Data Engineer   M       27  102000  Project B
323    156      Andrea     Front Developer   F       39  105000  Project B
324    157  Margarette       Data Engineer   F       29  110000        NaN
325    158       Peter       Data Engineer   M       21  110000  Project B
326    159        John             Manager   M       26  120000  Project B
327    160       Juan0             Manager   M  25 años  120000  Project B
328    161        John             Manager   M       35  120000  Project B
329    162      Pedro_             Manager   M       40  120000  Project B
330    163       Peter       Data Engineer   M       29  120000  Project B
331    164       Dayan             Manager   F       26  120000  Project B
332    165       Pedro             Manager   M       30  120000  Project B
333    166        Mary             Manager   F       22  122000  Project B
334    167       Dayan             Manager   F       24  123000  Project B

                     email
0       Maritza@domain.com
1          Deividomain.com
2       Manuela@domain.com
3        Antony@domain.com
4        Martha@domain.com
5         Deivi@domain.com
6         Deivi@domain.com
7       Marisol@domain.com
8       Mmartha@domain.com
9        Antony@domain.com
10       Antony@domain.com
11                     NaN
12      Melanye@domain.com
13         Ana@@domain.com
14          Ana@domain.com
15      Antonio@domain.com
16        Johan@domain.com
17        Johan@domain.com
18        David@domain.com
19        Jenny@domain.com
20      Andrew@domain..com
21       Justin@domain.com
22          Ana@domain.com
23                       A
24     Angelica@domain.com
25                     NaN
26         Bart@domain.com
27         Bart@domain.com
28      Belinda@domain.com
29        Johan@domain.com
..                     ...
305     Arnaldo@domain.com
306     Esteban@domain.com
307  Margarette@domain.com
308      Nelson@domain.com
309         Bob@domain.com
310         Bob@domain.com
311         Bob@domain.com
312      Nestor@domain.com
313      Nelson@domain.com
314      Justin@domain.com
315       Johan@domain.com
316       Johan@domain.com
317       Johan@domain.com
318      Angela@domain.com
319         Ned@domain.com
320       Jenny@domain.com
321                    123
322                    NaN
323      Andrea@domain.com
324  Margarette@domain.com
325       Peter@domain.com
326        John@domain.com
327        John@domain.com
328        John@domain.com
329       Pedro@domain.com
330       Peter@domain.com
331       Dayan@domain.com
332       Pedro@domain.com
333        Mary@domain.com
334       Dayan@domain.com

[335 rows x 8 columns]

# Rule for checking length
This rules checks for length of records on certain column. In this case the rule returns all records with more than 12 characters.

In [5]:
print(dataWork.checkMaxLength('job', 12))

     index        name                 job sex  age  salary    project  \
0        0        Inés     Front Developer   F   35   72000  Project B
1        1        Toño  Software Developer   M   33   72000  Project A
2        2     Carmiña  Software Developer   M   27   72000  Project B
3        3      Antony  Software Developer   M   24   72000  Project A
4        4      Martha     Front Developer   F   30   74000  Project A
5        5       Deivi  Software Developer   M   24   74000  Project B
6        6       Deivi  Software Developer   M   40   74000  Project A
7        7     Marisol     Front Developer   F   22   74000  Project A
8        8      Martha     Front Developer   F   32   75000  Project A
9        9      Antony  Software Developer   M   21   77000  Project A
10      10      Antony  Software Developer   M   40   77000  Project A
11      11       Lucia  Software Developer   F   32   77000  Project A
12      12     Melanye  Software Developer   F   28   77000  Project B
13      13         Ana  Software Developer   F   20   77000  Project A
14      14         Ana  Software Developer   F   29   77000  Project A
15      15     Ant0nio  Software Developer   M   21   77000  Project A
16      16       Johan  Software Developer   M   40   77000  Project A
17      17       Johan  Software Developer   M   38   77000  Project B
18      19       J3nny  Software Developer   F   33   80000  Project A
19      20      Andrew     Front Developer   M   25   80000  Project B
20      21      Justin       Data Engineer   M   21   80000  Project A
21      23      Andrea     Front Developer   F   24   80000  Project C
22      24    Angelica     Front Developer   F   32   80000  Project A
23      25      Manolo       Data Engineer   M   25   80000  Project A
24      26        Bart  Software Developer   M   40   80000  Project A
25      27        Bert  Software Developer   M   21   80000  Project A
26      28     Belinda  Software Developer   F   40   80000  Project A
27      30      Justin  Software Developer   M   23   80000  Project A
28      31      Justin  Software Developer   M   27   80000  Project A
29      32          JF  Software Developer   M   33   81000  Project A
..     ...         ...                 ...  ..  ...     ...        ...
127    130      Hector     Front Developer   M   22   87800  Project B
128    131       Homer     Front Developer   M   30   87800  Project B
129    132       Homer     Front Developer   M   32   87800  Project B
130    133    Hernando     Front Developer   M   32   87800  Project B
131    134   Alejandro  Software Developer   M   24   89000  Project B
132    135     Joaquin       Data Engineer   M   23   89000  Project B
133    136        Lisa       Data Engineer   F   24   90000  Project B
134    137     Jacinto       Data Engineer   M   26   90000  Project B
135    138     Arnaldo       Data Engineer   M   28   90000  Project B
136    139     Esteban       Data Engineer   M   32   92000  Project B
137    140  Margarette       Data Engineer   F   36   93000  Project B
138    141      Nelson  Software Developer   M   25   93000  Project B
139    142         Bob  Software Developer   M   39   95000  Project B
140    143         Bob  Software Developer   M   23   95000  Project B
141    144         Bob  Software Developer   M   32   95000  Project B
142    145      Nestor  Software Developer   M   25   95000  Project B
143    146      Ne/son  Software Developer   M   20   95000  Project B
144    147      Justin       Data Engineer   M   28   95000  Project B
145    148       Johan  Software Developer   M  NaN   97a00  Project B
146    149     Esteban  Software Developer   M   29   97000  Project B
147    150       Johan  Software Developer   M   38   97000  Project B
148    151      Angela     Front Developer   F   28   98000  Project B
149    152         Ned       Data Engineer   M   40  100000  Project B
150    153       Jenny       Data Engineer   F   20  102000  Project B
151    154     Joaquin       Data Engineer   M   37  1020o0  Project B
152    155       Peter       Data Engineer   M   27  102000  Project B
153    156      Andrea     Front Developer   F   39  105000  Project B
154    157  Margarette       Data Engineer   F   29  110000        NaN
155    158       Peter       Data Engineer   M   21  110000  Project B
156    163       Peter       Data Engineer   M   29  120000  Project B

                     email
0       Maritza@domain.com
1          Deividomain.com
2       Manuela@domain.com
3        Antony@domain.com
4        Martha@domain.com
5         Deivi@domain.com
6         Deivi@domain.com
7       Marisol@domain.com
8       Mmartha@domain.com
9        Antony@domain.com
10       Antony@domain.com
11                     NaN
12      Melanye@domain.com
13         Ana@@domain.com
14          Ana@domain.com
15      Antonio@domain.com
16        Johan@domain.com
17        Johan@domain.com
18        Jenny@domain.com
19      Andrew@domain..com
20       Justin@domain.com
21                       A
22     Angelica@domain.com
23                     NaN
24         Bart@domain.com
25         Bart@domain.com
26      Belinda@domain.com
27      Jus*tin@domain.com
28       Justin@domain.com
29           JF@domain.com
..                     ...
127      Hector@domain.com
128       Homer@domain.com
129       Homer@domain.com
130    Hernando@domain.com
131   Alejandro@domain.com
132     Joaquin@domain.com
133        Lisa@domain.com
134     Jacinto@domain.com
135     Arnaldo@domain.com
136     Esteban@domain.com
137  Margarette@domain.com
138      Nelson@domain.com
139         Bob@domain.com
140         Bob@domain.com
141         Bob@domain.com
142      Nestor@domain.com
143      Nelson@domain.com
144      Justin@domain.com
145       Johan@domain.com
146       Johan@domain.com
147       Johan@domain.com
148      Angela@domain.com
149         Ned@domain.com
150       Jenny@domain.com
151                    123
152                    NaN
153      Andrea@domain.com
154  Margarette@domain.com
155       Peter@domain.com
156       Peter@domain.com

[157 rows x 8 columns]

# Rule for list
This rule checks data against a reference list.

In [6]:
# Reference List for rule.
pd.read_csv('jobs.csv')

                  job
0     Front Developer
1  Software Developer
2       Data Engineer
3             Manager

In [7]:
# Checking for registers not in reference list for column "job"
# Nan and Intern not in reference list
print(dataWork.checkListReference('jobs.csv', 'job', 'job')[['name','job']])

    name     job
0  David     NaN
1    Ana  Intern
2  Johan  Intern

# Rule for email
This rule checks for email structure.

In [8]:
# Checking for bad registers in column "email", returning emails with wrong structure 
print(dataWork.checkEmail('email')[['name','email']])

        name               email
0       Toño     Deividomain.com
1      Lucia                 NaN
2        Ana     Ana@@domain.com
3     Andrew  Andrew@domain..com
4     Andrea                   A
5     Manolo                 NaN
6   Anabelle                 NaN
7    Joaquin                 123
8      Peter                 NaN
9      Lucia                 NaN
10    Manolo                 NaN
11  Anabelle                 NaN
12     Peter                 NaN

# Rule for null values
This rule checks for missing values.

In [9]:
# Checking registers for null values in project column
print(dataWork.checkNull('project')[['name','project']])

         name project
0      Justin     NaN
1      Stella     NaN
2  Margarette     NaN

# Rule for numbers
This rule checks for number type. Non numbers will be mark as wrong

In [10]:
# Checking registers for number types
print(dataWork.checkNumber('salary')[['name', 'salary']])

      name  salary
0    Johan   97a00
1  Joaquin  1020o0

# Rule for name
This rule checks the names. Only records with allows letters and spaces pass the rule.

In [11]:
print(dataWork.checkName('name')[['name']])

      name
0  Ant0nio
1    J3nny
2    Ang3l
3   Ne/son
4    Juan0
5   Pedro_

# Closing 
Removes and deletes all files generated during data quality process.

In [12]:
dataWork.close()