In [1]:
import pandas as pd

encoding = 'iso-8859-1'

# File to be analyzed
pd.read_csv('people.csv',
            delimiter = ';',
            encoding = encoding).head()

      name                 job sex  age  salary    project               email
0     Inés     Front Developer   F   22   72000  Project B  Maritza@domain.com
1     Toño  Software Developer   M   23   72000  Project A     Deividomain.com
2  Carmiña  Software Developer   M   24   72000  Project B  Manuela@domain.com
3   Antony  Software Developer   M   30   72000  Project A   Antony@domain.com
4   Martha     Front Developer   F   23   74000  Project A   Martha@domain.com

In [3]:
import Data_Quality as DQ
# Start data quality rules 
dataWork = DQ.Rules('people.csv', 
                    ';', 
                    False) # False for retrieve bad registers only

In [4]:
# Reference List for rule "checkListReference"
pd.read_csv('jobs.csv')

                  job
0     Front Developer
1  Software Developer
2       Data Engineer
3             Manager

In [6]:
# Checking for registers not in reference list for column "job"
print(dataWork.checkListReference('jobs.csv', 'job', 'job')[['name','job']])

     name     job
18  David     NaN
22    Ana  Intern
29  Johan  Intern

In [7]:
# Checking for bad registers in column "email", returning emails with wrong structure 
print(dataWork.checkEmail('email')[['name','email']])

        name               email
18     David    David@domain.com
22       Ana      Ana@domain.com
29     Johan    Johan@domain.com
1       Toño     Deividomain.com
13       Ana     Ana@@domain.com
20    Andrew  Andrew@domain..com
23    Andrea                   A
11     Lucia                 NaN
25    Manolo                 NaN
10  Anabelle                 NaN
16     Peter                 NaN

In [8]:
# Checking registers for null values in project column
print(dataWork.checkNull('project')[['name','project']])

['part_0_people.csv', 'part_1_people.csv', 'part_2_people.csv']
3
          name    project
18       David  Project A
22         Ana  Project A
29       Johan  Project A
1         Toño  Project A
13         Ana  Project A
20      Andrew  Project B
23      Andrea  Project C
11       Lucia  Project A
25      Manolo  Project A
10    Anabelle  Project A
16       Peter  Project B
6       Justin        NaN
17      Stella        NaN
18  Margarette        NaN

In [10]:
print(dataWork.checkNull('project')[['name','project']])

['part_0_people.csv', 'part_1_people.csv', 'part_2_people.csv']
3
          name    project
18       David  Project A
22         Ana  Project A
29       Johan  Project A
1         Toño  Project A
13         Ana  Project A
20      Andrew  Project B
23      Andrea  Project C
11       Lucia  Project A
25      Manolo  Project A
10    Anabelle  Project A
16       Peter  Project B
6       Justin        NaN
17      Stella        NaN
18  Margarette        NaN
6       Justin        NaN
17      Stella        NaN
18  Margarette        NaN