In [35]:
import pandas as pd 

delimiter = ';'
encoding = 'iso-8859-1'

data = pd.read_csv('people.csv',
                   delimiter = delimiter,
                   encoding = encoding)

data.head()

data.shape[0]

168

In [36]:
pattern = '[a-z]+@[a-z]+.com'

data[data['email'].str.contains(pattern) == False]

      name                 job sex  age  salary    project               email
1     Toño  Software Developer   M   23   72000  Project A     Deividomain.com
13     Ana  Software Developer   F   24   77000  Project A     Ana@@domain.com
20  Andrew     Front Developer   M   25   80000  Project B  Andrew@domain..com
32      JF  Software Developer   M   33   81000  Project A       JF@domain.com

In [46]:
import Data_Quality as DQ

dataWork = DQ.Rules('people.csv', ';')

dataWork.checkPattern('email', '[a-z]+@[a-z]+.com', False)

TypeError: checkPattern() takes 3 positional arguments but 5 were given